<mat-toolbar color="primary">ProfileFinder</mat-toolbar>
<div class="snackbar"></div>
<div class="center">  
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="searchText" class="search-text" placeholder="Enter text to search">
    </mat-form-field>
    <div class="example-button-row btn">
      <button mat-fab color="primary" type="submit">
        <mat-icon style="color:white;">find_in_page</mat-icon>
      </button>
    </div>
  </form>
</div>
<div class="spinner" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="card" *ngIf="dataFound">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>{{ location }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]= "avatarUrl">
      <mat-card-actions>
          <a [href]="htmlUrl" mat-button>View in GitHub</a>
      </mat-card-actions>
    </mat-card>
</div>
<div class="card" *ngIf="dataNotFound">
    <mat-card class="example-card" color="primary">
      <mat-card-header>       
        <mat-card-title>No Profile found</mat-card-title>
      </mat-card-header> 
    </mat-card>
</div>


