.center{
    margin-left: 38%;
    margin-top:70px;
}

.search-text{
    float:left;
    clear:none;
    position: relative;
}

.btn{
    position: absolute;
    top: 140px;
    left: 55%;
}

.card{
    position: absolute;
    width:500px;
    left:350px;
    top:220px;
}

.spinner{
    position: absolute;
    width:50px;
    left:550px;
    top:220px;
}

.snackbar{
    position: absolute;
    left:1000px;
    top:40px;
}